
<div class="post_form col-lg-8 bg-white pb-5">
  <div class="border rounded border-success">
    <%= form_with model: @new_post, url: communities_path, local: true do |f| %>
      <div class="container-fluid">
        <div class="row pt-3">
          <%= f.label :タイトル, class: "col-lg-2 col-form-label" %>
          <%= f.text_field :title, class: "col-lg-3 form-control" %>
          <%= f.label :画像, class: "col-lg-1 col-form-label" %>
          <%= f.attachment_field :image, format: 'jpeg', class: "col-lg-6"%>
        </div>
        <div class="row">
          　<%= f.label :投稿内容を入力, class: "col-form-label" %>
          <%= f.text_area :caption, class: "form-control" %>
          <%= f.hidden_field :community_id, value: @community.id %>
          <%= f.submit "投稿内容を送信",class: "btn btn-outline-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
