
<div class="card mb-4">
  <div class="card-body text-dark border rounded">
    <h4>ーー<%= @select_post.created_at.strftime('%Y/%m/%d') %>ーー</h4>
    <div class="border-top border-bottom">
      <div class="row">
        <h4 class="col-lg-7 mb-0">【<%= @select_post.title %>】</h4>
        <h5 class="col-lg-5 mb-0">
          <%= @select_post.user.name %> <small class="text-muted"><%= @select_post.created_at.strftime('%H:%M') %></small>
        </h5>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-7">
        <%= attachment_image_tag @select_post, :image, format: 'jpeg', class:"attachment_image" %>
      </div>
      <table class="table table-sm col-lg-5">
        <thead class="thead-light">
          <tr>
            <th>コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @comments.each do |comment| %>
            <td><%= comment.user.name %></td>
            <td class="table_comment"><%= comment.comment %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <p class="col-lg-7"><%= @select_post.caption %></p>
  </div>
</div>

