<div class="card bg-light mb-5">
	<h4 class="text-lg-center card-header mb-3"><strong><%= @community.community_name %></strong></h4>
	<strong class="text-lg-center">コミュニティーkey</strong>
	<p class="text-lg-center form-control placeholder"><%= @community.community_key %></p>
	<strong class="text-lg-center text-info">コミュニティーの説明</strong>
	<p class="text-lg-center form-control placeholder"><%= @community.community_info %></p>
</div>
<% if @select_post %>
	<h5>【<%= @select_post.title %>】</h5>
		<div class="border-top border-bottom">
	    <p><%= @select_post.user.name %>
	    <small class="text-muted"><%= @select_post.created_at.strftime('%Y/%m/%d %H:%M') %></small></p>
		</div>
	<div class="bg-white border rounded-left border-success">
    <%= form_with model: @new_comment, url: communities_path, local: true do |f| %>
      <%= f.text_field :comment, class: "form-control" %>
      <%= f.submit "コメント",class: "btn btn-outline-success btn-block" %>
      <%= f.hidden_field :community_post_id, value: @select_post.id %>
      <%= f.hidden_field :community_id, value: @community.id %>
      <!-- community.idはredirect先の引数として使用する -->
 	 	<% end %>
	</div>
	<%= link_to "コメントをやめる", community_path(@community) %>
<% else %>
	<div class="dropdown">
		<button type="button" class="btn btn-light btn-lg btn-outline-success btn-block dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
    参加者一覧
  	</button>
	  <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
	  	<% @members.each do |member| %>
	    <p class="dropdown-item mb-0"><%= member.name %></p>
	    <div class="dropdown-divider"></div>
			<% end %>
		</div>
	</div>
<% end %>
