<h1>Communities#new</h1>
<p>Find me in app/views/communities/new.html.erb</p>

<%= form_with model: @community, url: communities_path, local: true do |f| %>
  <% if @community.errors.any? %>
    <%= @community.errors.count %>件のエラーが発生しました
    <% @community.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="field">
  	<%= f.label @key %>
  	<%= f.hidden_field :community_key, value: @key %>
  </div>

  <div class="field">
    <%= f.label :コミュニティーネーム %><br />
    <%= f.text_field :community_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :コミュニティーの説明 %><br />
    <%= f.text_area :community_info, autofocus: true %>
  </div>

  <div class="actions">
  	<%= f.label :コミュニティーを作成する! %><br />
    <%= f.submit "コミュニティー作成" %>
  </div>
<% end %>