<h1>Communities#show</h1>
<p>Find me in app/views/communities/show.html.erb</p>
<%= @community.community_name %>
<%= @community.community_key %>
<%= @community.community_info %>
<%= link_to "参加中のコミュニティー", user_communities_path %>
<%= link_to "新しいコミュニティーに参加", new_user_community_path %>