<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <%= link_to "ワーチズ", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "マイページ", edit_user_registration_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "コミュニティに参加する", new_user_community_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "コミュニティを作る", new_community_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>

        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            参加中のコミュニティ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @user_communities.first(3).each do |user_community| %>
            <%= link_to user_community.community_name, user_community_path(user_community), :method => :patch, class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <strong><%= link_to "すべて表示（全#{@user_communities.count}件）", user_communities_path, class: "dropdown-item" %></strong>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header><!-- /header -->
