<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
    <%= link_to "Work-branches", user_communities_path, class: "navbar-brand col-lg-4 mr-0 text-center" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-lg-8 pl-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to edit_user_registration_path do %>
          <strong class="btn btn-outline-info"><%= current_user.name %><small> でログイン中</small></strong>
          <% end %>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link btn-light", method: :delete %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "作る", new_community_path, class: "btn btn-outline-success mr-lg-2" %><span class="sr-only">(current)</span>
        </li>
         <li class="nav-item">
          <%= link_to "参加する", new_user_community_path, class: "btn btn-outline-success mr-lg-2" %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown mr-lg-2">
          <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            参加中
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @user_communities.first(5).each do |user_community| %>
            <!-- コミュニティの切り替えを管理するため、#pudateへ飛ばしています -->
            <%= link_to user_community.community_name, user_community_path(user_community), :method => :patch, class: "dropdown-item d-block text-truncate" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <strong><%= link_to "すべて表示（全#{@user_communities.count}件）", user_communities_path, class: "dropdown-item" %></strong>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-lg-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
