<!DOCTYPE html>
<html>
  <head>
    <title>WorkTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/login_user_header' %>
      <% else %>
        <%= render 'layouts/not_login_user_header' %>
      <% end %>
    </header><!-- /header -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
