<!DOCTYPE html>
<html>
  <head>
    <title>WorkTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <% if user_signed_in? %>
        <main>
          <div class="row">
            <div class="col-lg-4 bg-light border-right">
              <%= render 'layouts/login_user_header' %>
              <div class="sticky-top">
                <%= render 'layouts/flash' %>
                <% if @community %>
                  <%= render partial: 'communities/side_menu' %>
                <% end %>
              </div>
            </div>
            <div class="login_menu col-lg-8">
              <%= yield %>
            </div>
            <footer class="text-center fixed-bottom col-lg-4 border-top">
              <p>© Work-branches</p>
            </footer>
          </div>
        </main>
      <% else %>
        <main>
          <div class="not_login_main">
            <%= render 'layouts/not_login_user_header' %>
            <%= yield %>
        </div>
        </main>
        <footer class="text-center fixed-bottom border-top">
          <p>© Work-branches</p>
        </footer>
      <% end %>
    </div>
  </body>
</html>
